[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task1-jsx-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task1-jsx-iqura9
	url = https://github.com/react-sprint1/task1-jsx-iqura9
[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task2-jsx-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task2-jsx-iqura9
	url = https://github.com/react-sprint1/task2-jsx-iqura9
[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task3-style-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task3-style-iqura9
	url = https://github.com/react-sprint1/task3-style-iqura9
[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task4-css-modules-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task4-css-modules-iqura9
	url = https://github.com/react-sprint1/task4-css-modules-iqura9
[submodule "SPRINT 3. React - Key, State, Props, Events/task1-react-keys-iqura9"]
	path = SPRINT 3. React - Key, State, Props, Events/task1-react-keys-iqura9
	url = https://github.com/React-03-1/task1-react-keys-iqura9
[submodule "SPRINT 3. React - Key, State, Props, Events/task2-react-props-iqura9"]
	path = SPRINT 3. React - Key, State, Props, Events/task2-react-props-iqura9
	url = https://github.com/React-03-2/task2-react-props-iqura9
[submodule "SPRINT 3. React - Key, State, Props, Events/task3-react-state-and-events-iqura9"]
	path = SPRINT 3. React - Key, State, Props, Events/task3-react-state-and-events-iqura9
	url = https://github.com/React-03-3/task3-react-state-and-events-iqura9
[submodule "SPRINT 5. React - Lifecycle & Binding Event Handlers/task1-lifecycle-iqura9"]
	path = SPRINT 5. React - Lifecycle & Binding Event Handlers/task1-lifecycle-iqura9
	url = https://github.com/React-05-1/task1-lifecycle-iqura9
[submodule "SPRINT 5. React - Lifecycle & Binding Event Handlers/task2-syntheticevent-iqura9"]
	path = SPRINT 5. React - Lifecycle & Binding Event Handlers/task2-syntheticevent-iqura9
	url = https://github.com/React-05-2/task2-syntheticevent-iqura9
[submodule "SPRINT 7. Virtual DOM, Hooks/task1-react-hooks-state-iqura9"]
	path = SPRINT 7. Virtual DOM, Hooks/task1-react-hooks-state-iqura9
	url = https://github.com/React-07-1-hooks-usestate/task1-react-hooks-state-iqura9
[submodule "SPRINT 7. Virtual DOM, Hooks/task2-react-hooks-effects-iqura9"]
	path = SPRINT 7. Virtual DOM, Hooks/task2-react-hooks-effects-iqura9
	url = https://github.com/React-07-2-hooks-useeffect/task2-react-hooks-effects-iqura9
