[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task1-jsx-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task1-jsx-iqura9
	url = https://github.com/react-sprint1/task1-jsx-iqura9
[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task2-jsx-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task2-jsx-iqura9
	url = https://github.com/react-sprint1/task2-jsx-iqura9
[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task3-style-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task3-style-iqura9
	url = https://github.com/react-sprint1/task3-style-iqura9
[submodule "SPRINT 1. JSX, Styles. SCRUM theory/task4-css-modules-iqura9"]
	path = SPRINT 1. JSX, Styles. SCRUM theory/task4-css-modules-iqura9
	url = https://github.com/react-sprint1/task4-css-modules-iqura9
[submodule "SPRINT 3. React - Key, State, Props, Events/task1-react-keys-iqura9"]
	path = SPRINT 3. React - Key, State, Props, Events/task1-react-keys-iqura9
	url = https://github.com/React-03-1/task1-react-keys-iqura9
[submodule "SPRINT 3. React - Key, State, Props, Events/task2-react-props-iqura9"]
	path = SPRINT 3. React - Key, State, Props, Events/task2-react-props-iqura9
	url = https://github.com/React-03-2/task2-react-props-iqura9
[submodule "SPRINT 3. React - Key, State, Props, Events/task3-react-state-and-events-iqura9"]
	path = SPRINT 3. React - Key, State, Props, Events/task3-react-state-and-events-iqura9
	url = https://github.com/React-03-3/task3-react-state-and-events-iqura9
[submodule "SPRINT 5. React - Lifecycle & Binding Event Handlers/task1-lifecycle-iqura9"]
	path = SPRINT 5. React - Lifecycle & Binding Event Handlers/task1-lifecycle-iqura9
	url = https://github.com/React-05-1/task1-lifecycle-iqura9
[submodule "SPRINT 5. React - Lifecycle & Binding Event Handlers/task2-syntheticevent-iqura9"]
	path = SPRINT 5. React - Lifecycle & Binding Event Handlers/task2-syntheticevent-iqura9
	url = https://github.com/React-05-2/task2-syntheticevent-iqura9
[submodule "SPRINT 7. Virtual DOM, Hooks/task1-react-hooks-state-iqura9"]
	path = SPRINT 7. Virtual DOM, Hooks/task1-react-hooks-state-iqura9
	url = https://github.com/React-07-1-hooks-usestate/task1-react-hooks-state-iqura9
[submodule "SPRINT 7. Virtual DOM, Hooks/task2-react-hooks-effects-iqura9"]
	path = SPRINT 7. Virtual DOM, Hooks/task2-react-hooks-effects-iqura9
	url = https://github.com/React-07-2-hooks-useeffect/task2-react-hooks-effects-iqura9
[submodule "SPRINT 8. Storage(localsession), Web workers, Web socket/task1-webworkers-iqura9"]
	path = SPRINT 8. Storage(localsession), Web workers, Web socket/task1-webworkers-iqura9
	url = https://github.com/React-08-1-worker/task1-webworkers-iqura9
[submodule "SPRINT 8. Storage(localsession), Web workers, Web socket/task2-websockets-iqura9"]
	path = SPRINT 8. Storage(localsession), Web workers, Web socket/task2-websockets-iqura9
	url = https://github.com/React-08-2-socket/task2-websockets-iqura9
[submodule "SPRINT 9. Composition. Context. useMemo, useCallback/task-usecontext-usecallback-iqura9"]
	path = SPRINT 9. Composition. Context. useMemo, useCallback/task-usecontext-usecallback-iqura9
	url = https://github.com/React-09-1-usecontext-usecallback/task-usecontext-usecallback-iqura9
[submodule "SPRINT 10. Redux in React/task1-ui-integration-iqura9"]
	path = SPRINT 10. Redux in React/task1-ui-integration-iqura9
	url = https://github.com/React-10-1-redux/task1-ui-integration-iqura9
[submodule "SPRINT 10. Redux in React/task2-react-redux-iqura9"]
	path = SPRINT 10. Redux in React/task2-react-redux-iqura9
	url = https://github.com/React-10-2-redux/task2-react-redux-iqura9
[submodule "SPRINT 11. Redux ToolKit. Extending Redux/react-11-redux-toolkit-iqura9"]
	path = SPRINT 11. Redux ToolKit. Extending Redux/react-11-redux-toolkit-iqura9
	url = https://github.com/React-11-Redux-Toolkit/react-11-redux-toolkit-iqura9
[submodule "SPRINT 12. Tools/tools-npm-iqura9"]
	path = SPRINT 12. Tools/tools-npm-iqura9
	url = https://github.com/React-12-npm/tools-npm-iqura9
[submodule "SPRINT 12. Tools/tools-webpack-iqura9"]
	path = SPRINT 12. Tools/tools-webpack-iqura9
	url = https://github.com/React-12-webpack/tools-webpack-iqura9
[submodule "SPRINT 12. Tools/tools-babel-iqura9"]
	path = SPRINT 12. Tools/tools-babel-iqura9
	url = https://github.com/React-12-babel/tools-babel-iqura9
[submodule "SPRINT 12. Tools/tools-eslint-iqura9"]
	path = SPRINT 12. Tools/tools-eslint-iqura9
	url = https://github.com/React-12-eslint/tools-eslint-iqura9
[submodule "SPRINT 13. Router/task-react-routes-iqura9"]
	path = SPRINT 13. Router/task-react-routes-iqura9
	url = https://github.com/React-13-1-router/task-react-routes-iqura9
[submodule "SPRINT 14. Node, AJAX/task1-node-team-mk-4"]
	path = SPRINT 14. Node, AJAX/task1-node-team-mk-4
	url = https://github.com/React-14-node-ajax/task1-node-team-mk-4
[submodule "SPRINT 14. Node, AJAX/task2-ajax-team-mk-4-2"]
	path = SPRINT 14. Node, AJAX/task2-ajax-team-mk-4-2
	url = https://github.com/React-14-node-ajax/task2-ajax-team-mk-4-2
[submodule "SPRINT 15. Refs, Higher-Order Component, DefaultProps/task-1-ref-iqura9"]
	path = SPRINT 15. Refs, Higher-Order Component, DefaultProps/task-1-ref-iqura9
	url = https://github.com/React-15-1-refs/task-1-ref-iqura9
[submodule "SPRINT 15. Refs, Higher-Order Component, DefaultProps/task-2-hocs-iqura9"]
	path = SPRINT 15. Refs, Higher-Order Component, DefaultProps/task-2-hocs-iqura9
	url = https://github.com/React-15-2-hocs/task-2-hocs-iqura9
[submodule "SPRINT 16. Tests/task1-unit-testing-team-mk1-4"]
	path = SPRINT 16. Tests/task1-unit-testing-team-mk1-4
	url = https://github.com/React-16-1/task1-unit-testing-team-mk1-4
[submodule "SPRINT 16. Tests/react-testing-library-team-team-mk2-4"]
	path = SPRINT 16. Tests/react-testing-library-team-team-mk2-4
	url = https://github.com/React-16-2-testing-library/react-testing-library-team-team-mk2-4
[submodule "SPRINT 17 Material UI/material-ui-team-mk-2"]
	path = SPRINT 17 Material UI/material-ui-team-mk-2
	url = https://github.com/ita-react-marathon-sprint-material-ua/material-ui-team-mk-2
